.content {
  padding:10px;
  overflow-x:hidden;
  overflow-y: auto;
}
.content-minor {
  padding:5px;
  margin:1px;
}
.header{
  margin:0px;
  padding: 5px 10px;
  min-height: 32px;
  background: silver;
  border: none;
  border-bottom-style: groove;
}
.box {
  border: 1px solid black; 
}
.bar-bottom {
  border-bottom: 2px solid black; 
} 
.font-lg {
  font-size: 120%;
}
.margin-full {
  margin: 5px;
}
.top-pad {
  margin-top: 5px;
}
.bottom-pad {
  margin-bottom: 5px;
}
.inline {
  display: inline;
}
.center {
  text-align: center;
}
.center-div {
  margin: auto;
}
.front {
  z-index:10;
}
.back {
  z-index:-10;
}
.left {
  text-align: left;
}
.hidden {
  display:none;
}
.top{
  position: absolute;
  top:0;
}
.vcenter {
  vertical-align: middle;
}
[v-cloak] {
  display: none;
}
.strong{
  font-weight:600;
}
.innerLink {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.pad-y {
  margin: 0 2px;
}
.input-slim{
  width: 55px;
}
.input-mid{
  width: 85px;
}
.wf-m{
  width:100px;
}
.square {
  display:inline-block;
  vertical-align: middle;
  width:20px;
  height:20px;
}
.background-white {
  background-color: white;
}
.background-white-semi {
  background-color: rgba(255,255,255,0.5);
}
.height-limit-min {
  max-height:400px;
  overflow-y: auto;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
/* ==========================================================================
Maps
["water","swamp","desert","plain","forest","hill","mountain"];
["aqua","CadetBlue","Beige","LightGreen","ForestGreen","Brown","DarkGrey"];
========================================================================== */
.map {
  position: fixed;
  width:100%;
  top:50px;
  bottom:0px;
  overflow:scroll;
}
.map.planet {
  top:0;
  z-index:-10;
  overflow:hidden;
}
.map canvas {
  display: block;
  margin: auto;
}
.maptool.selected {
  background-color: rgba(0,128,0,0.5);
}
.palette.water { background-color: aqua;}
.palette.swamp { background-color: CadetBlue;}
.palette.desert { background-color: Beige;}
.palette.plain { background-color: LightGreen;}
.palette.forest { background-color: ForestGreen;}
.palette.hill { background-color: Brown;}
.palette.mountain { background-color: DarkGrey;}
/* ==========================================================================
Windows
========================================================================== */
.window{
  position: fixed;
  height:100%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, 0%);
  background-color: whitesmoke;
  overflow:auto;
}
.window .box {
  background-color: rgba(255,255,255,0.5);
}
.footer {
  background-color: rgba(255,255,255,0.75);
  position: fixed;
  bottom: 5px;
  width: 100%;
  z-index:20;
}
@media only screen and (min-width: 425px) {
  .window.slim{
    width: 400px;
  }
  .window .slim{
    width: 400px;
  }
  .footer {
    left: 50%;
    width: 400px;
    transform: translate(-50%, 0%);
  }
}
@media only screen and (min-width: 820px) {
  .window.wide{
    width: 800px;
  }
  .window .wide{
    width: 800px;
  }
  .footer.wide {
    width: 800px;
  }
}
.notify{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: whitesmoke;
  border: 1px solid black; 
  overflow-y:auto;
}
.notify .content {
  max-height: 400px;
}
.form-control.half {
  display:inline;
  width:50%;
}
/* ==========================================================================
Unique
========================================================================== */
.pwd-area.explored {
  background-color: rgba(0,128,0,0.5);
}
